.Pizza {
  color: var(--green);
  font-weight: 700;
  font-size: 2rem;
  margin-left: 10px;
}

.y {
  color: var(--white);
  font-weight: 700;
  font-size: 2rem;
}

.Front {
  color: var(--red);
  font-weight: 700;
  font-size: 2rem;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 42px;
}

.navlist {
  color: var(--white);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 20px;
}
.navlist>li{
margin-left: 13px;
font-size: 1rem;
}
nav{
  margin-right: 20px;
}